body{
    background-color: rgb(63, 63, 63) ;
    font-family: Arial, Helvetica, sans-serif ;
    align-items: center ;
    justify-content: center ;
    display: flex ;
    padding: 200px;
    font-size: 35px ;
    color: white ;
    background: url('ceu.jpg') ;
}

input{

    width: 200px ;
    height: 30px ;
    color: black ;
    border-radius: 5% ;
    border-color: black ;
}

input::placeholder{
    font-size: 13px ;
    color: black ;
}

.remember-forgot{
    color: white ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.remember-forgot>input{
   width: 15px;
   height: 15px;
}

button{
    color: black;
    border-color: black;
     padding: 4px;
}

p{
    font-size: 15px;
}
a{
    color: rgb(0, 149, 255);
}