body{
    background-color: rgb(63, 63, 63) ;
    font-family: Arial, Helvetica, sans-serif ;
    align-items: center ;
    justify-content: center ;
    display: flex ;
    padding: 300px ;
    font-size: 35px ;
    color: white ;
}

input{
    width: 200px ;
    height: 30px ;
    color: black ;
    border-radius: 5% ;
    border-color: black ;
}

input::placeholder{
    font-size: 13px ;
    color: black ;
}